<div class="ui-g">

<p-card class="ui-sm-12 ui-md-6 ui-lg-6" header="Eventos">
    <div class="timeline">
        <div class="entry" *ngFor="let evento of eventos">
            <div class="title">
                <p>{{evento.dataEvento | date: 'MMM'}}</p>
                <h3>{{evento.dataEvento | date: 'dd'}}</h3>
            </div>
            <div class="body">
                <p-button label="{{evento.nome}}" (onClick)="mostrar(evento.id)"></p-button>
            </div>
        </div>
    </div>
</p-card>

<p-card class="ui-sm-12 ui-md-6 ui-lg-6" header="Buscar Evento">
    <p-button label="Este botão" (onClick)="filtrar('Lanche')"></p-button>
</p-card>

</div>

<p-dialog draggable="false" closable="false" header="Detalhes do evento" [(visible)]="mostrarEvento">
    <div *ngIf="mostrarEvento">
        <div class="HeaderModal">
            <span class="NomeEvento">{{eventoCompleto.nome}}</span> <br />
            <span class="DataGrande">{{eventoCompleto.situacao.label}}, {{eventoCompleto.dataEvento | date: 'dd/MM/yyyy'}}</span>
        </div>
        
        <p-card header="Detalhes" class="ui-sm-6 ui-md-6 ui-lg-6">
            Valor: {{eventoCompleto.valor | currency: 'BRL'}}<br />
            Motivo: {{eventoCompleto.motivo.label}}
        </p-card>
        <p-card header="Patrocinadores" class="ui-sm-6 ui-md-6 ui-lg-6">
            <ul>
                <li *ngFor="let usuario of eventoCompleto.usuarios">
                    {{usuario.label}}
                </li>
            </ul>
        </p-card>
    </div>
</p-dialog>
