.HeaderModal{
    width: 40rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
}

li{
    padding: 10px 0px 10px 5px;
    border-left: 5px solid #5562db;
    list-style: none;
}

.DataTL{
    color: #5562db;
}

.NomeEvento{
    font-size: 28px;
}
.DataGrande{
    font-size: 20px;
}