<div class="ui-g">
    <p-card class="ui-sm-12 ui-md-12 ui-lg-11">
        <p-table [value]="usuarios" [paginator]="true" [rows]="10"
            selectionMode="single" [(selection)]="usuarioSelecionado">
            <ng-template pTemplate="caption">
                <h3>USUARIOS</h3>
                <div class="ui-table-globalfilter-container">
                   <label >usuarios Ativos</label>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let header of headers">
                        <strong>{{header}}</strong>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
                <tr [pSelectableRow]="usuario">
                    <td>
                        {{usuario.nome}}
                    </td>
                    <td>
                        {{usuario.cargo.label}}
                    </td>
                </tr>

            </ng-template>
        </p-table>
    </p-card>
    <p-card class="ui-sm-12 ui-md-12 ui-lg-1">
        <div>
            <p-button class="ui-fluid" label="Visualizar" (click)="mostrar()" [disabled]="!(usuarioSelecionado)">
            </p-button>
           
        </div>
    </p-card>
</div>

<p-dialog draggable="" [(visible)]="ativadorDialog" *ngIf="ativadorDialog">
    <form id="msform" [formGroup]="form">
        <fieldset>
            <h2 class="fs-title">USUARIO</h2>
            <h3 class="fs-subtitle">Informações</h3>
            NOME <i class="pi pi-user"></i>
            <input type="text" formControlName="nome" value="form.nome" />
            CPF <i class="pi pi-id-card"></i>
            <input type="text" formControlName="cpf" value="form.cpf" />
            DATA DE NASCIMENTO <i class="pi pi-user-plus"></i>
            <input type="text" formControlName="dataNascimento" value="form.data" />
            E-MAIL <i class="pi pi-envelope"></i>
            <input type="text" formControlName="email" value="form.email" />
            TELEFONE <i class="pi pi-phone"></i>
            <input type="text" formControlName="telefone" value="form.telefone" />
            STATUS <i class="pi pi-check-circle"></i>
            <input type="text" formControlName="status" [ngModel]="usuarioCompleto.status|usuarioStatusPipe" />
            <br><br>
            CARGO <i class="pi pi-users"></i>
            <br><br>
            <p-dropdown [options]="cargos" formControlName="cargo" [disabled]="form.disabled"></p-dropdown>
            <br><br><br>
                <p-card> <p-calendar formControlName="dataNascimento"></p-calendar></p-card>
            <br><br><br>
            

            <p-button (click)="habilitarEdicao()" label="Editar" class="action-button"></p-button>
            <p-button [disabled]="habilitarSalvar" (click)="editarUsuario()" label="Salvar" class="action-button">
            </p-button>

        </fieldset>
    </form>

</p-dialog>